<h1> <center> Hello there! </h1>

<body style="background-color:#ee964b;">

<form action = "/form-result" method="post">
  <h2><center> What's your name? </h2>
  <center> <input type="text" name="name">
  <br>
  <br>
  <br>
  <h2> <center> Whens your birthday? </h2>
  Day: <input type="number" name="day">
  Month:
  <select name="month">
   <option value="January"selected>January</option>
   <option value="February">February</option>
   <option value="March">March</option>
   <option value="April">April</option>
   <option value="May">May</option>
   <option value="June">June</option>
   <option value="July">July</option>
   <option value="August">August</option>
   <option value="September">September</option>
   <option value="October">October</option>
   <option value="November">November</option>
   <option value="December">December</option>
 </select>
  <br>
  <br>
  <br>
  <input type="submit" value="Go!" style="font-size: 3000; width:500px" />
  <br>
</form>
